* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: chocolate;
    display: flex;
    justify-content: center;
    align-items: center;

    & button {
        width: 100px;
        height: 50px;
        & a {
            text-decoration: none;
        }
    }
}


main {
    background: #6078A1;
    height: 80vh;
    overflow: scroll;
}

footer {
    background-color: #D88001;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.classPokemon {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-top: 50px;

    & .types {
        font-size: 30px;
        padding-left: 30px;
    }
}

.abilitys {
    display: flex;
    justify-content: start;
    align-items: center;

    & .abi {
        font-size: 30px;
        padding-left: 30px;
        color: white;
    }
}

.expBase {
    display: flex;
    justify-content: start;
    align-items: center;

    & .exp {
        font-size: 30px;
        padding-left: 30px;
        color: white;
    }
}

.allAttack {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.atck{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.attack {
    width: 150px;
    height: 70px;
    font-size: 30px;
    border-radius: 20px;
    margin: 10px;
}