* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: #D88001;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100px;
    color: white;
}

main {
    background: #6078A1;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.pokemonBox {
    display: flex;
    height: 300px;
    padding-top: 40px;
}

.pokemonImage {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokemon {
    width: 100%;
    overflow: scroll;
}

.listPokemon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokemonname {
    background: #FDF9C7;
    color: #515251;
    margin-top: 10px;
    font-size: 40px;
    list-style: inside url("/assets/pokeball.png");
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.statOfPokemon {
    font-size: 40px;
    color: white;
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}

.caract {
    padding-top: 50px;
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.types {
    color: white;
    font-size: 30px;
}

.localisation {
    color: white;
    font-size: 30px;
}