* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



header {
    background-color: #D88001;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100px;
    color: white;
}

main{
    background: #6078A1;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.pokemonBox {
    display: flex;
    height: 300px;
    padding-top: 40px;
}

.pokemonImage {
    border: 1px solid red;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokemon {
    border: 1px solid red;
    width: 100%;
    overflow: hidden;
}

.listPokemon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    overflow: scroll;
}

.pokemonname {
    background: #000;
    margin-top: 10px;
    font-size: 40px;
}

.statOfPokemon{
 border: 1px solid red;
 display: flex;
 justify-content: space-around;
}